.main-header {
  width: 100%;
  position: relative;
 	background-color: -color2;
	background-image: 
	-webkit-linear-gradient(198deg, #071d68 0%, #0b4bec 100%),
	url('../img/main-header__bg-1.png');
	background-image: 
	-o-linear-gradient(198deg, #071d68 0%, #0b4bec 100%),
	url('../img/main-header__bg-1.png');
	background-image: 
	url('../img/main-header__bg-1.png'),
	url('../img/main-header__bg-2.png'),
	url('../img/main-header__bg-3.png'),
	url('../img/main-header__bg-4.png'),
	linear-gradient(288deg, #071d68 0%, #0b4bec 100%);
	background-repeat: 
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat, 
		no-repeat;
	background-position: 
		17% 33%,
		14% 47%,
		21% 42%,
		21% 54%,
		center center;
	overflow: hidden;
		
	&::after,
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 48%;
		right: -20%;
		width: 630px;
		height: 347px;
		background-image: linear-gradient(-18deg, #071d68 0%, #0b4bec 100%);
		transform: rotate(31deg);
		-webkit-border-radius: 60px;
		        border-radius: 60px;
		opacity: 0.25;
	}

	&::after {
		top: 37%;
		right: -17%;
		background-image: linear-gradient(-18deg, rgba(7, 29, 104, 0.2) 0%, rgba(11, 75, 236, 0.2) 100%);
		opacity: 1;
		z-index: 0;
	}

	@media (max-width: $desktop-width) {
		background-position: 
		12% 33%,
		9% 47%,
		16% 42%,
		16% 54%,
		center center;
		
    	&::after,
		&::before {
			right: -54%;
		}
  	}

  	@media (max-width: $tablet-width) {
  		background-position: 
			12% 15%,
			19% 27%,
			66% 22%,
			66% 39%,
			center center;

		&::after,
		&::before {
			display: none;
		}
	}
}

.main-header__wrapper {
	@include desktop-container;
}