// width
$desktop-width: 1170px;
// color
$color1: #ffffff;
$color2: #0b4bec;
$color3: #000000;
$color3: #808080;
$backgroung-color1: #f3f2f2;
$backgroung-color2: #0b4bec;
$backgroung-color3: #ffffff;
// text
$font-family1: "Poppins", "Arial", sans-serif;
$font-family2: "Nunito", "Arial", sans-serif;
$font-family3: "Raleway", "Arial", sans-serif;
$font-family4: "FontAwesome", "Arial", sans-serif;
$fontsize: 14px;